.card {
  display: inline-block;
  margin: 10px;
  color: black !important;
}
h2 {
  margin-top: 40px;
  margin-bottom: 10px;
}

.footer {
  width: 100%;
  background-color: #0000;
  padding: 20px;
  margin-top: 50px;
}

.nav-item {
  text-align: center;
}

.content#loginPage {
  background-image: url("https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0px;
}

/* carousel */
